*{margin:0;padding:0;box-sizing:border-box;vertical-align: middle;}
html, body {width:100%;height:100%}
body {font:normal 14px/1 '돋움','arial';color:#333;background:#fff;}
a {text-decoration:none;color:#333;}
ul, li {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-size:14px;font-weight:normal;}
header, main, footer, section, aside, nav, article {display:block;}
em,i,address {font-style:normal;}
.blind {display:block;text-indent:-2000px;overflow:hidden;}